.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
  border: 1px solid #01010154;
}
.link__tj6Fe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-etmFyOSBpB_l);
  font-size: 24px;
  font-weight: 700;
  padding-right: 0px;
  margin-right: 0px;
}
.root .link__tj6Fe:hover {
  color: var(--token-3Qn-BS4tPl9G);
}
.img___81HcL {
  object-fit: cover;
}
.img___81HcL > picture > img {
  object-fit: cover;
}
.img__pCaYe {
  object-fit: cover;
}
.img__pCaYe > picture > img {
  object-fit: cover;
}
.link__ksEeX {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__ksEeX:hover {
  color: var(--token-3Qn-BS4tPl9G);
}
.link__bzYa9 {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__bzYa9:hover {
  color: var(--token-3Qn-BS4tPl9G);
}
.link__rajWo {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__rajWo:hover {
  color: var(--token-3Qn-BS4tPl9G);
}
.link__a8NHc {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__a8NHc:hover {
  color: var(--token-3Qn-BS4tPl9G);
}
