.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 50px 40px 146px;
}
.links > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.links > :global(.__wab_flex-container) > *,
.links > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.links > :global(.__wab_flex-container) > picture > img,
.links > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .links {
    width: 100%;
    min-width: 0;
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .links > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__sf7A9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: flex-start;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__sf7A9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__sf7A9 > :global(.__wab_flex-container) > *,
.freeBox__sf7A9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sf7A9 > :global(.__wab_flex-container) > picture > img,
.freeBox__sf7A9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sf7A9 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sf7A9 > :global(.__wab_flex-container) > *,
  .freeBox__sf7A9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sf7A9 > :global(.__wab_flex-container) > picture > img,
  .freeBox__sf7A9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__bz7Dp {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-3Qn-BS4tPl9G);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__bz7Dp {
    padding-left: 18px;
    padding-right: 18px;
    margin-top: calc(0px + 8px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 8px) !important;
  }
}
.link__woMhH {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__woMhH:hover {
  color: #e76385;
}
.link__b2Z4S {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__b2Z4S:hover {
  color: #e76385;
}
.link__i3Vit {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__i3Vit:hover {
  color: #e76385;
}
.link__q4Bfe {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__q4Bfe:hover {
  color: #e76385;
}
.columns__mc8JL {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 0px;
}
.columns__mc8JL > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__mc8JL > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mc8JL {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mc8JL > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__japAy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__japAy {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__lWLb {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lWLb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__lWLb > :global(.__wab_flex-container) > *,
.freeBox__lWLb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lWLb > :global(.__wab_flex-container) > picture > img,
.freeBox__lWLb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lWLb {
    width: auto;
    padding: 3px;
  }
}
.link___39DZs {
  position: relative;
  align-self: flex-start;
  margin-right: 0px;
  display: flex;
  cursor: pointer;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.link___7Utfd {
  position: relative;
  margin-right: 0px;
  display: flex;
  cursor: pointer;
  margin-left: calc(0px + 30px) !important;
}
.instaPng {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.instaPng > picture > img {
  object-fit: cover;
}
.link__ezGvR {
  position: relative;
  margin-right: 0px;
  display: flex;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 30px) !important;
}
.img__mbSqB {
  object-fit: contain;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.img__mbSqB > picture > img {
  object-fit: contain;
}
.link__dxBl {
  position: relative;
  margin-right: 0px;
  display: flex;
  cursor: pointer;
  margin-left: calc(0px + 30px) !important;
}
.img__p8ZFh {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.img__p8ZFh > picture > img {
  object-fit: cover;
}
.column__wtz3W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wtz3W {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__dehc5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dehc5 {
    justify-content: flex-start;
    width: auto;
  }
}
.img__dbNSm {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 32px;
  height: 32px;
  margin-right: 0px;
  flex-shrink: 0;
}
.img__dbNSm > picture > img {
  object-fit: contain;
}
.text__bS2Y8 {
  position: relative;
  align-self: center;
  padding-left: 30px;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1920px;
  background: #fafafa;
  min-width: 0;
  padding: 8px;
}
.columns__m39Pq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1280px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 24px 40px;
}
.columns__m39Pq > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__m39Pq > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__m39Pq > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__m39Pq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__m39Pq > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__h5WGn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gvIq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  min-width: 0;
}
.column__a8NcK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__zXxok {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column___2LDr8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gahrs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
