.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-NrkthKQhkIrH);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-drllfGtDs6I7);
  font-family: var(--token-dN98zxJ67DQ_);
  font-size: var(--token-_9H8KFPYs9J1);
  line-height: var(--token-Xfcep8sJMDnJ);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-f5SvWkJ5QuSQ);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-gKrIyXZ9QCY8);
  outline-offset: 1px;
  outline-color: var(--token-NrkthKQhkIrH);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-t08FAJm8z-XP);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-H3LXziIqgNZm);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-QwjZPACPxrjG);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token--n6oQi7Esq0H);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-4wJJHxKQoTJc);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-RiYgbiAY1LNJ);
  font-size: var(--token-S5qK1STjnhiO);
  column-gap: var(--token-gKrIyXZ9QCY8);
  row-gap: 0px;
  border-radius: var(--token-mmBq5uXzB8O_);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-S5qK1STjnhiO);
  line-height: var(--token-RiYgbiAY1LNJ);
  column-gap: var(--token-mmBq5uXzB8O_);
  row-gap: 0px;
  border-radius: var(--token-mmBq5uXzB8O_);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-wGmxJvePzjo4);
  line-height: var(--token-0PKDsifcKWRN);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-wGmxJvePzjo4);
  line-height: var(--token-0PKDsifcKWRN);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-1gDPuf3EaOv5);
  border-radius: var(--token-f5SvWkJ5QuSQ);
}
.softBackgroundcolor_neutral {
  background: var(--token-0WPph5ksZMMk);
}
.softBackgroundcolor_muted {
  background: var(--token-N3KdggfdTB-L);
}
.softBackgroundcolor_success {
  background: var(--token-hgygDimP69nD);
}
.softBackgroundcolor_warning {
  background: var(--token-ryWn5jq45UlQ);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-BQPEmUPVQWoe);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-f5SvWkJ5QuSQ);
  border: 0px solid var(--token-r-MCSVp0YBtV);
}
.bordercolor_neutral {
  border-color: var(--token-U9DNVlkx-sLu);
}
.bordercolor_muted {
  border-color: var(--token-mcNxoMI6igoz);
}
.bordercolor_success {
  border-color: var(--token-JPLLuHKJcYGG);
}
.bordercolor_warning {
  border-color: var(--token-meXFlkIDYAGm);
}
.bordercolor_errorDestructive {
  border-color: var(--token-TkuksG1BmQ9k);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-f5SvWkJ5QuSQ);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-YYgWSnoz1f4H);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-IjZtfESQq1kD);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-4T_vWOIhld3A);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___83Kj6 {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-f5SvWkJ5QuSQ) var(--token-ZOqP2bLvr9n-);
}
.freeBox___83Kj6 > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-f5SvWkJ5QuSQ));
  width: calc(100% + var(--token-f5SvWkJ5QuSQ));
}
.freeBox___83Kj6 > :global(.__wab_flex-container) > *,
.freeBox___83Kj6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___83Kj6 > :global(.__wab_flex-container) > picture > img,
.freeBox___83Kj6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-f5SvWkJ5QuSQ);
}
.freeBoxsize_extraSmall___83Kj67DxGs {
  padding: var(--token-mmBq5uXzB8O_) var(--token-f5SvWkJ5QuSQ);
}
.freeBoxsize_small___83Kj626Yg {
  padding: var(--token-f5SvWkJ5QuSQ) var(--token-drllfGtDs6I7);
}
.freeBoxsize_large___83Kj6AMxCw {
  padding-top: var(--token-mmBq5uXzB8O_);
  padding-bottom: var(--token-mmBq5uXzB8O_);
}
.freeBoxsize_extraLarge___83Kj6TEb83 {
  padding-left: var(--token-jyI8t6F3lGsf);
  padding-right: var(--token-jyI8t6F3lGsf);
}
.freeBoxroundedFull___83Kj6EdTrk {
  padding-right: var(--token-jyI8t6F3lGsf);
  padding-left: var(--token-jyI8t6F3lGsf);
}
.freeBox__g9RFv {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__g9RFVrMsiu {
  display: flex;
}
.slotTargetStart {
  color: var(--token-g9mb7s22cbGZ);
}
.slotTargetStartcolor_neutral {
  color: var(--token-I7DD8FndzU6L);
}
.slotTargetStartcolor_muted {
  color: var(--token-QLjrWbhNttzG);
}
.slotTargetStartcolor_success {
  color: var(--token-hnL6Ol5BVqRE);
}
.slotTargetStartcolor_warning {
  color: var(--token-D-JYdh74UlbL);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-ggTdcJvWviGo);
}
.slotTargetStarttype_soft {
  color: var(--token-eO4R8G1mdS-8);
}
.slotTargetStarttype_bordered {
  color: var(--token-eO4R8G1mdS-8);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-S5qK1STjnhiO);
}
.slotTargetStartsize_small {
  font-size: var(--token-S5qK1STjnhiO);
}
.slotTargetStartsize_large {
  font-size: var(--token-wGmxJvePzjo4);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-wGmxJvePzjo4);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-_jSwGEdndtTF);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-_jSwGEdndtTF);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-huMSMgAGFQ7K);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-huMSMgAGFQ7K);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-x1i5jYwWw-pd);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-x1i5jYwWw-pd);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-NuZDVDcEgdMq);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-NuZDVDcEgdMq);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-ghLtKqSVMAEz);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-ghLtKqSVMAEz);
}
.svg___0Fu0V {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-g9mb7s22cbGZ);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-I7DD8FndzU6L);
}
.slotTargetLabelcolor_muted {
  color: var(--token-QLjrWbhNttzG);
}
.slotTargetLabelcolor_success {
  color: var(--token-hnL6Ol5BVqRE);
}
.slotTargetLabelcolor_warning {
  color: var(--token-D-JYdh74UlbL);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-ggTdcJvWviGo);
}
.slotTargetLabeltype_soft {
  color: var(--token-eO4R8G1mdS-8);
}
.slotTargetLabeltype_bordered {
  color: var(--token-eO4R8G1mdS-8);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-_jSwGEdndtTF);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-huMSMgAGFQ7K);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-_jSwGEdndtTF);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-x1i5jYwWw-pd);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-huMSMgAGFQ7K);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-NuZDVDcEgdMq);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-x1i5jYwWw-pd);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-ghLtKqSVMAEz);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-NuZDVDcEgdMq);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-ghLtKqSVMAEz);
}
.text__c6Kh4 {
  white-space: pre;
}
.freeBox___2D4Ti {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___2D4TIjv0Am {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-g9mb7s22cbGZ);
}
.slotTargetEndcolor_neutral {
  color: var(--token-I7DD8FndzU6L);
}
.slotTargetEndcolor_muted {
  color: var(--token-QLjrWbhNttzG);
}
.slotTargetEndcolor_success {
  color: var(--token-hnL6Ol5BVqRE);
}
.slotTargetEndcolor_warning {
  color: var(--token-D-JYdh74UlbL);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-ggTdcJvWviGo);
}
.slotTargetEndtype_soft {
  color: var(--token-eO4R8G1mdS-8);
}
.slotTargetEndtype_bordered {
  color: var(--token-eO4R8G1mdS-8);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-S5qK1STjnhiO);
}
.slotTargetEndsize_small {
  font-size: var(--token-S5qK1STjnhiO);
}
.slotTargetEndsize_large {
  font-size: var(--token-wGmxJvePzjo4);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-wGmxJvePzjo4);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-_jSwGEdndtTF);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-_jSwGEdndtTF);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-huMSMgAGFQ7K);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-huMSMgAGFQ7K);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-x1i5jYwWw-pd);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-x1i5jYwWw-pd);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-NuZDVDcEgdMq);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-NuZDVDcEgdMq);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-ghLtKqSVMAEz);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-ghLtKqSVMAEz);
}
.svg__y4NDj {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
